th{
    background-color: rgb(226, 226, 226);
    text-align: left;
    padding-left: 15px;
}
.header{
    height: 25px;
}
.end{
    background-color: rgb(226, 226, 226);
    font-size: 15px;
    font-weight: 550;
    height: 25px;
}


